@font-face{
    font-family: 'Sergio-Trendy';
    src:url(Sergio\ Trendy.ttf);
    font-weight: normal;
}
@font-face{
    font-family: 'Garet';
    src: url(Garet-Book.ttf);
    font-weight: normal;
}

body{
    background-color:#385638;
    margin: 0;

}
main{
    max-width:700px;
    min-width: 280px;
    min-height:100vh;
    margin: auto;
    background-color: #f8ecd7;
    text-align: center;
    border-radius: 30px;
}
#title{
    display: flex;
    justify-content: center;
    font-family: Sergio-Trendy;
    color: #132a13;
    font-size: 2.6rem;
}
#logo{
    height: 100px;
    margin-bottom:-12px;
    margin-left: -10px;
}
#enter{
    text-align: center;
}
#campo-entrada{
    width: 250px;
    margin:10px;
    border-radius: 13px;
    padding: 15px;
    font-family: Garet;
    font-weight: bolder;
    background-color: #a3b18a;
    color: #132a13;
    border: 2px solid #132a13;
    

}
#campo-entrada::placeholder{
    color: #385638;
    font-size: 1rem;
}
#botao-adicionar{
    border-radius: 13px;
    padding: 15px;
    background-color: #588157;
    font-family: Sergio-Trendy;
    font-size: 1rem;
    color: #132a13;
    border: 2px solid #132a13;
    cursor: pointer;
}
#campo-lista{
    min-height: 100px;
}
#lista-ingredientes{
    display:flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    margin-left: -40px; /*corrige o alinhamento da lista*/
    
}
#lista-ingredientes li{
    list-style-type:none;
    padding: 7px 10px 7px 10px;
    margin: 5px;
    background-color: #a3b18a;
    border-radius: 13px;
    font-family: Garet;
    font-weight: bolder;
    color: #132a13;
    font-size: 1.1rem;

}
#lista-ingredientes li button{ 
    border: none;
    background-color: transparent;
    padding-left: 8px;
    font-family: Garet;
    font-weight: bolder;
    color: rgb(150, 0, 0);
    font-size: 1.1rem;
}
#botao-requerer{
    border-radius: 13px;
    padding: 15px;
    margin: 10px 10px 0px 10px;
    background-color: #588157;
    font-family: Sergio-Trendy;
    font-size: 1.3rem;
    color: #132a13;
    border: 2px solid #132a13;
    cursor:pointer;
}

#lista-receitas{
    margin-top: 40px;
    display:flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    margin-left: -40px; /*corrige o alinhamento da lista*/
    
}
#lista-receitas li{
    list-style-type:none;
    max-width: 40%;
    margin: 10px;
    background-color: #a3b18a;
    border-radius: 13px;
    font-family: Garet;
    font-weight: bolder;
    color: #132a13;


}
#lista-receitas img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit:cover;

}
#lista-receitas h3{
    margin: 10px;
    font-size: 1.3rem;
}
#lista-receitas p{
    font-size: 0.9rem;
    margin:10px;
}
@media (max-width: 500px){
    #title{
        font-size:2.5rem;
    }
    #logo{
        height: 100px;
    }
    #campo-entrada{
        width:180px;
        padding: 10px;
        border-radius: 8px;

    }
    #campo-entrada::placeholder{
        font-size: 0.9rem;
    }
    #botao-adicionar{
        padding: 10px;
        font-size: 1rem;
        border-radius: 8px;
    }
    #botao-requerer{
        padding: 15px;
        font-size: 1.4rem;
        border-radius: 8px;
    }
    #campo-lista{
        min-height: 190px;
    }
    #lista-ingredientes li{
        font-size: 1rem;
        padding: 4px 7px 4px 7px;
        border-radius: 7px;
        margin: 4px;
    }
    #lista-ingredientes li button{
        padding-left: 5px;
        padding-right: 3px;
        font-size: 1rem;

    }
    #lista-receitas img{
        height: 100px;
    }
    #lista-receitas h3{
        font-size:1.1rem;
    }
    #lista-receitas p{
        font-size:0.8rem;
    }
}
